In [2]:
import pandas as pd 

iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [3]:
# df = iris   Same Referance

df = iris.copy()

In [4]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [5]:
# Changing the Column Headers
df.columns = ['sl','sw','pl','pw','flower_type']

In [6]:
print(df.shape)
print(df.dtypes)

(149, 5)
sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [7]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [8]:
df.sl

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [9]:
df['sl']

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [10]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [11]:
df.iloc[1:4 , 2:5]

    pl   pw  flower_type
1  1.3  0.2  Iris-setosa
2  1.5  0.2  Iris-setosa
3  1.4  0.2  Iris-setosa

In [12]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [16]:
df.drop(0,inplace=True)

print(df.head())

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [17]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [18]:
df.index[0]

1

In [23]:
df.drop(df.index[0],inplace=True)
df.drop(df.index[[0,1]],inplace=True)
df.head()

     sl   sw   pl   pw  flower_type
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa

In [31]:
c1 = df[df.flower_type == 'Iris-setosa'].describe()
c1

              sl         sw         pl         pw
count  42.000000  42.000000  42.000000  42.000000
mean    5.023810   3.423810   1.466667   0.245238
std     0.365466   0.398662   0.183019   0.113056
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.125000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

In [35]:
# iloc vs loc
print(df.head())

print(df.iloc[0])

print(df.loc[7])

     sl   sw   pl   pw  flower_type
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
sl                     4.4
sw                     2.9
pl                     1.4
pw                     0.2
flower_type    Iris-setosa
Name: 7, dtype: object
sl                     4.4
sw                     2.9
pl                     1.4
pw                     0.2
flower_type    Iris-setosa
Name: 7, dtype: object

In [39]:
# add a row
df.loc[0] = [1,2,3,4,'Iris-setosa']
df.loc[149] = [1,2,3,4,'Iris-setosa']

In [40]:
df.head()

     sl   sw   pl   pw  flower_type
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa

In [41]:
df.tail()

      sl   sw   pl   pw     flower_type
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa
149  1.0  2.0  3.0  4.0     Iris-setosa

In [45]:
df.drop(0,inplace=True)

In [46]:
df.index

Int64Index([  7,   8,   9,  10,  11,  12,  13,  14,  15,  16,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=143)

In [47]:
df.reset_index(drop=True,inplace=True)
df.index

RangeIndex(start=0, stop=143, step=1)

In [49]:
df.drop('sl',axis=1)

      sw   pl   pw     flower_type
0    2.9  1.4  0.2     Iris-setosa
1    3.1  1.5  0.1     Iris-setosa
2    3.7  1.5  0.2     Iris-setosa
3    3.4  1.6  0.2     Iris-setosa
4    3.0  1.4  0.1     Iris-setosa
..   ...  ...  ...             ...
138  2.5  5.0  1.9  Iris-virginica
139  3.0  5.2  2.0  Iris-virginica
140  3.4  5.4  2.3  Iris-virginica
141  3.0  5.1  1.8  Iris-virginica
142  2.0  3.0  4.0     Iris-setosa

[143 rows x 4 columns]

In [55]:
# del df['sw']
df.describe()

               sl          pl          pw
count  143.000000  143.000000  143.000000
mean     5.861538    3.882517    1.272028
std      0.912042    1.718799    0.780159
min      1.000000    1.000000    0.100000
25%      5.200000    1.600000    0.400000
50%      5.800000    4.400000    1.400000
75%      6.400000    5.100000    1.800000
max      7.900000    6.900000    4.000000

In [56]:
df.head()

    sl   pl   pw  flower_type
0  4.4  1.4  0.2  Iris-setosa
1  4.9  1.5  0.1  Iris-setosa
2  5.4  1.5  0.2  Iris-setosa
3  4.8  1.6  0.2  Iris-setosa
4  4.8  1.4  0.1  Iris-setosa

In [58]:
df = iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']

In [59]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [60]:
#  Adding a new column
df['diff_pl_pw'] = df['pl']-df['pw']

In [61]:
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3