### Find and Print minimum,maximum and average value of the feature for each kind of flower

In [31]:
import pandas as pd 
import numpy as np

iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df = iris.copy()

iris.columns = ['sl','sw','pl','pw','flower_type']
df.columns = ['sl','sw','pl','pw','flower_type']

In [32]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [33]:
# Creating List of Unique Flowers in dataset 
flowers = df['flower_type'].unique()

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.00 3.42 1.47 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

In [39]:
for flower in flowers:
    c = iris[iris.flower_type==flower]
    print(min(c['sl']),min(c['sw']),min(c['pl']),min(c['pw']),c.iloc[0,4])
    print(max(c['sl']),max(c['sw']),max(c['pl']),max(c['pw']),c.iloc[0,4])
    print((c['sl'].mean()),(c['sw'].mean()),(c['pl'].mean()),(c['pw'].mean()),c.iloc[0,4])

4.3 2.3 1.0 0.1 Iris-setosa
5.8 4.4 1.9 0.6 Iris-setosa
5.004081632653061 3.4163265306122454 1.4653061224489798 0.24489795918367344 Iris-setosa
4.9 2.0 3.0 1.0 Iris-versicolor
7.0 3.4 5.1 1.8 Iris-versicolor
5.936 2.7700000000000005 4.26 1.3259999999999998 Iris-versicolor
4.9 2.2 4.5 1.4 Iris-virginica
7.9 3.8 6.9 2.5 Iris-virginica
6.587999999999998 2.974 5.5520000000000005 2.0260000000000002 Iris-virginica